[submodule "Dependencies/msdf-atlas-gen"]
	path = Dependencies/msdf-atlas-gen
	url = https://github.com/ThatOneDamien/msdf-atlas-gen.git
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/ThatOneDamien/glfw.git
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/ThatOneDamien/imgui.git
[submodule "Dependencies/soloud"]
	path = Dependencies/soloud
	url = https://github.com/ThatOneDamien/soloud.git
