bin
UserProjs
compile_commands.json
.cache

# Temporary!!! Hides the Ruby Scene files
**/*.rusc

*.ini
**/Makefile
.vscode
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.vcxproj*
*.userprefs
.vs/
Dev/
